/* Бүх хуудас */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #1abc9c;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    background-color: white;
    border-radius: 5px;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #34495e;
    color: white;
}
